.articles {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        padding: 60px 0;
    }
}

.article {
    display: flex;
    grid-gap: 20px 40px;

    &__image {
        display: flex;
        flex-shrink: 0;
        padding-top: 25vw;
        position: relative;
        width: 25vw;
    }

    &__img {
        object-fit: contain;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__info {
        flex-grow: 1;

        &_list {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            margin-bottom: 12px;
        }

        &_item {
            display: flex;
            column-gap: 8px;
        }

        &_name {
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    &__title {
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__description {
        overflow: hidden;
        margin-bottom: 20px;
        word-break: break-all;
        white-space: pre-wrap;
    }

    @media (max-width: 876px) {
        flex-direction: column;

        &__image {
            padding-top: 35vw;
            width: 35vw;
        }
    }

    @media (max-width: 480px) {
        &__image {
            padding-top: 40vw;
            width: 40vw;
        }

        &__title {
            font-size: 28px;
        }
    }
}
