.portfolio-one {
    padding: 60px 0;

    &__swiper {
        width: 100%;
        max-width: 700px;

        .swiper-button {
            &-prev,
            &-next {
                color: #ecc311;
            }
        }

        &_pagination {
            .swiper-pagination-bullet {
                background-color: #ecc311;
                opacity: 0.25;

                &-active {
                    background-color: #ecc311;
                    opacity: 1;
                }
            }
        }
    }

    &__img {
        display: block;
        margin-bottom: 28px;
        width: 100%;
    }

    &__info {
        display: flex;
        column-gap: 8px;
        margin-bottom: 16px;
    }

    &__category {
        display: flex;
        align-items: center;
        column-gap: inherit;

        &::after {
            background-color: #ecc311;
            content: "";
            display: inline-block;
            width: 10px;
            height: 2px;
        }
    }

    &__title {
        font-size: 30px;
        margin-bottom: 10px;
        white-space: pre-wrap;
    }

    &__description {
        white-space: pre-wrap;
    }
}
