.form-contact {
    width: 100%;
    max-width: 500px;

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        row-gap: 24px;
    }

    &__flex {
        display: flex;
        grid-gap: 30px;

        & > .label {
            flex-grow: 1;
            flex-basis: 50%;
        }
    }

    &__btn {
        align-self: flex-start;
    }

    @media (max-width: 576px) {
        &__flex {
            flex-direction: column;
        }
    }
}
