.pagination {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 40px;

    &__link {
        @extend .btn;
        padding: 12px 15.5px;

        &._active {
            background-color: #000;
        }
    }
}